<h1>Click to Copy - Create New</h1>
<p>Enter text to be copied. Note there is a limit of 140 characters</p>
<form>
    <textarea name="message" rows=5 cols="30" maxlength="140">Enter text here</textarea>
    <input type="submit">
</form>

